@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  --font-roboto-slab: 'Roboto Slab', serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-roboto-slab: var(--font-roboto-slab);
}

html, body {
  background-color: #ffffff !important;
  color: #0f172a !important;
  font-family: 'Roboto Slab', serif, system-ui;
}
